*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --top: 20px 0 0 0;
  --black: rgb(0, 0, 0);
  --white: #fff;
  --orange: rgb(253, 68, 1);
  --aqua: rgb(0, 255, 255);
  --hover_element: invert(10%) sepia(56%) saturate(898%) hue-rotate(107deg) brightness(92%)
                    contrast(107%);
  --animation: 0.5s;
}

body {
  background-color: var(--black);
}

.header,
.main,
.footer {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  color: var(--white);
  font-family: 'Permanent Marker', cursive;
}

/* start header */
.header {
  border-bottom: 2px solid var(--orange);
  background-color: var(--black);
}

.api_color {
  color: var(--orange);
  cursor: pointer;
}

.container_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: var(--top);
  padding-bottom: 5px;
}

.search {
  position: relative;
  width: 320px;
}

.input_search {
  padding-left: 20px;
  width: 100%;
  height: 30px;
  border-radius: 5px;
  border: 2px solid var(--orange);
  background-color: rgba(0, 0, 0, 0);
  color: var(--white);
}

.input_search::placeholder {
  color: var(--aqua);
}

.search_img:hover,
.git_logo:hover,
.school:hover,
.close:hover {
  filter: var(--hover_element);
}

/* рисую иконку поиска */
.search_img {
  position: absolute;
  top: 4px;
  left: 280px;
  width: 26px;
  height: 26px;
  color: var(--white);
  cursor: pointer;
}

.circle {
  display: block;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  border: 3px solid var(--white);
}

.line {
  position: absolute;
  left: 15px;
  display: block;
  width: 9px;
  border: 1px solid var(--white);
  background-color: var(--white);
  transform: rotate(45deg);
}
/*end header*/

/*start main*/
.main {
  background-color: var(--black);
  padding-bottom: 20px;
}

.container_main {
  position: relative;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 5px;
  margin: 0 auto;
  margin-top: -500px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1rem;
}

.picture {
  border-radius: 5px;
  border: 3px solid var(--orange);
  height: 220px;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  filter: grayscale(1) brightness(40%);
  transition: 0.5s;
}

.picture:hover {
  filter: none;
  transition: 1s;
}

.view {
  position: relative;
  z-index: 10;
  top: 100px;
  margin: 0 auto;
  /* display: none; */
  border: 3px solid var(--orange);
  max-width: 840px;
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0;
  position: sticky;
}

.view_gal {
  opacity: 1;
  transition: 2s;
  z-index: 30;
}

.none_view {
  display: none;
}

/* крестик - закрыть */
.close {
  position: absolute;
  top: 10px;
  left: 780px;
  width: 40px;
  height: 40px;
  color: var(--white);
  cursor: pointer;
}

.lin_e {
  position: absolute;
  top: 20px;
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--white);
}

.lin_e:first-child {
  transform: rotate(45deg);
  
}

.lin_e:last-child {
  bottom: 0;
  transform: rotate(-45deg);
}
/*end main*/

/*start footer*/
.footer {
  background-color: var(--orange);
}

.container_footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: var(--top);
  padding-bottom: 20px;
}

.footer_box1 {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer_box2 {
  width: 200px;
  height: 100px;
}
/*end footer*/

/* медиазапросы */
@media screen and (max-width: 870px) {
  .close {
    left: 760px;
  }
}

@media screen and (max-width: 850px) {
  .close {
    left: 740px;
  }
}

@media screen and (max-width: 830px) {
  .close {
    left: 700px;
  }
}

@media screen and (max-width: 790px) {
  .close {
    left: 650px;
  }
}

@media screen and (max-width: 740px) {
  .close {
    left: 600px;
  }
}

@media screen and (max-width: 695px) {
  .view,
  .view_gal {
    display: none;
  }

  .container_main {
    margin-top: 0px;
  }
}

@media screen and (max-width: 520px) {
  .container_header {
    margin: 0 auto;
    flex-direction: column;
  }

  .header {
    border-bottom: none;
  }

  .logo {
    margin: 0 auto;
  }
}

@media screen and (max-width: 376px) {
  .container_header,
  .search {
    width: 100%;
  }
}

@media screen and (max-width: 356px) {
  .picture {
    max-width: 312px;
  }

  .search_img {
    left: 270px;
  }
}

@media screen and (max-width: 346px) {
  .picture {
    max-width: 305px;
  }

  .search_img {
    left: 260px;
  }
}

@media screen and (max-width: 340px) {
  .picture {
    max-width: 301px;
  }

  .search_img {
    left: 258px;
  }
}

@media screen and (max-width: 320px) {
  .picture,
  .search {
    max-width: 280px;
  }

  .search_img {
    left: 238px;
  }

  .header {
    border-bottom: none;
  }

  .logo {
    margin: 0 auto;
  }
}